// Format Desktop
.user-dashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  background-color: #f8f9fa;
}

.auth-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 95%;
  margin-top: 50px;
}

.box-register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-tab {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
  color: #343a40;
}

.intro-div {
  margin-bottom: 20px;
}

.auth-options {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.box-btn-tab {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase; /* Texte en majuscules */
}

.btn-contained {
  background: linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1);
  color: white;
  border: none;
}

.btn-contained:hover {
  background: linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1); /* Dégradé légèrement plus foncé au survol */
  color: white;
}
.btn-outlined {
  background-color: transparent;
  color: linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1);; /* Bleu Material UI */
  border: 1px solid linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1);;
}

.btn-outlined:hover {
  background-color: #e3f2fd; /* Bleu clair au survol */
  color: linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1);;
  border-color: linear-gradient(to right, #e9c4c6, #a15a65, #90b2d1);;
}

// Styles pour les formulaires Login et Register (si besoin)
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

.auth-form input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25); /* Bleu Material UI au focus */
}

.dashboard-options {
  text-align: center;
}

.dashboard-options button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  background-color: #dc3545;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  text-transform: uppercase; /* Texte en majuscules */
}

.dashboard-options button:hover {
  background-color: #c82333;
}
.title-tab {
  font-size: 20px; /* Taille de police de 20px */
  text-transform: uppercase; /* Texte en majuscules */
  font-weight: 300; /* Police fine (light) */
  /* Si la police ne s'éclaircit pas assez avec 300, essayez des valeurs inférieures (200, 100) */
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}


//  Format Mobile 