.d-log-ic{
    width: 200px;
    height: 200px;
    margin: 10px auto;
}

.d--log{
    text-align: center;
}

.tit-blog{
    text-align: center;
}

.blog-d-title{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-weight: 300; /* Ajustez cette valeur pour affiner la police */
    font-size: 2em; /* Ajustez la taille selon vos besoins */
    letter-spacing: 0.1em; /* Ajustez l'espacement entre les lettres */
    font-size: 40px;
    color: #df8289;
    font-weight: 300
}

.tit-blog{
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 0.1em; /* Ajustez l'espacement entre les lettres */
    font-size: 40px;
    color: #B76E79;
    font-weight: 300
}