//  Format Desktop
@media (max-width: 1600px) {
.-ban-h-tab{


    .banni-h-1{
        width: 100%;
        height: 200px;
        margin-top: 20px;
    }



} // -ban-h-tab

}


//  Format Mobile
@media (max-width: 740px) {

}